@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Spartan:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-li li {
  cursor: pointer;
}

.nav-li li:hover {
  color: rgb(0, 194, 194);
  transition: color 0.4s ease-in-out;
}

.lists li{
    position: relative;
}

.lists li:hover {
  cursor: pointer;
}


.lists li:hover::before {
  position: absolute;
  content: '';
  width: 100%;
  border: 1px solid red;
  margin-top: 25px;
  animation: line .3s ease-in-out;
}

@keyframes line {
    from{
        width: 0%;
    }to{
        width: 100%;
    }
    
}
